%h1#page-title= Ecm::Blog::Configuration.posts_index_page_title_proc.call(self)

= render partial: "post_in_index", collection: @collection, as: :post

.row
  .col-lg-12.text-center
    = paginate(@collection, Ecm::Blog::Configuration.pagination_options_proc.call(self))